.config {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
}

.errors {
    color: red;
    font-size: 1.2rem;

    .error.yaml {
        .line {
            &:before {
                content: "(";
            }
            &:after {
                content: ",";
            }
        }
        .column:after {
            content: "): ";
        }
    }

    .error.validation {
        .instance {
            &:before {
                content: "[";
            }
            &:after {
                content: "]: ";
            }
        }
    }
}
