doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="../css/search-box.css")
    body
        div.wrapper
            div.header /
            div(contentEditable).input
            div.info
